body {
  background: #4a695c;
  color: #4a695c;
  font-family: arial;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

.right {
	float: right;
}

.test-container {
    border: 5px solid #275040;
	max-width: 960px;
	width: 80%;
	background: #95c7b3;
	color: #4a695c;
	margin: 0 auto;
	padding: 10px;	
}

.test-container h1 {
	text-align: center;
}

.result div {
	padding: 20px;
	margin: 20px;
	border: 1px solid #000;
	text-align: center;
}

button.pretty {
	border-radius: 20px;
	outline: none;
	padding: 7px 15px;
}

button.start {
	color: #fff;
	background: #4a695c;
}
