/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// -- Clearfix -- //
// @extend .clearfix
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// -- Equal Spaced Columns -- //
// Number of Columns - First Column
// Remaining Number of Columns * Margin Spacing
// Container Width - Total Margin Spacing
// Remaining Width / Total Number of Columns

@mixin equalSpaced( $num_of_cols, $spacing, $container_width  ){
 
  width: ( $container_width - ( $spacing * ($num_of_cols - 1) ) ) / $num_of_cols;
  margin-left: $spacing;
  margin-top: $spacing;
  float: left;
  
  // Remove Spacing from First Child
  &:first-child{
    margin-left: 0;
  }
  
  
  // We can remove These two things to simply things
  // ===============================================
  // When there's more than one row of columns
  
  // Remove margin-left of the first element in the row.
  &:nth-child( #{$num_of_cols}n + 1){
    margin-left: 0;
  }
  
  // Top Row Remove Margin Top
  @for $i from 1 through $num_of_cols {
      &:nth-child(#{$i}) {
          margin-top: 0;
      }
  }

  
}




.col-container{
	@extend .clearfix;
	max-width:810px;
	margin: 1% auto;
	@media screen and (min-width: 920px){
		margin: 1% auto;
	}
}


body {
	font-family: arial;
	background: #4a695c;
	color: #4a695c;
	margin: 0 2%;
}
h1{
	font-size: 1.15em;
	float:left;
	margin: 0;
	font-weight: normal;
}
p{
	margin: 0;
}
pre{
	margin: 5px 0;
	padding: 4px 8px;
	line-height:1.6;
	display:inline-block;
	font-size:14px;
	background: #95c7b3;
	color:#4a695c;
	white-space: pre-wrap;
 	word-wrap: break-word;  
}
label{
	display:block;
	margin-bottom:10px;
	font-size: 0.875em;
    font-weight: 600;
}
input, textarea{
	width:100%;
	margin: 0;
	padding:5px;
	border: 1px solid #4a695c;
	color:#69A089;
}
input[type="radio"],
input[type="checkbox"]{
	width: auto;
}
button{
	font-size:11px;
}
fieldset{
	border: none;
	padding: 0;
	margin: 0;
}


.view-group, .export-container, .header{
	box-shadow: 0px 2px 8px -1px #3E7568;
	padding: 10px;
	background:#fff;
}

.header{
	padding: 1.5em;
	margin: 2em auto;
	border: 5px solid #95c7b3;
}

.view-group{
	@media screen and (max-width: 399px){
		margin: 10px 0;
	}

	@media screen and (min-width: 400px) and (max-width:759px){
		@include equalSpaced(2, 2%, 100%);
		height: 145px;
	}
	@media screen and (min-width: 760px) and (max-width:919px){
		@include equalSpaced(3, 2%, 100%);
		height: 145px;
	}

	@media screen and (min-width: 920px){
		@include equalSpaced(4, 1%, 100%);
		height: 145px;
	}
}
.col-2{
	@media screen and (min-width: 500px){
		@include equalSpaced(2, 4%, 100%);
	}
}

.col-3{
	@media screen and (min-width: 500px){
		@include equalSpaced(3, 1%, 100%);
	}
}

.view-dynamic{
	.dynamic-row{@include equalSpaced(3, 1%, 100%);}
}


[its-active="true"]{
	background:#4a695c;
	border-color:transparent;
	color:#fff;
}



#its-wrapper{font-size:14px!important;}
#its-wrapper ul{
	margin: 0!important;
}
#its-wrapper li strong{
	font-size:12px!important;
}
#its-wrapper li button{
	width:19px!important;
	height:19px!important;
	padding: 0;
}
.its-a-message{
	background:#69A089!important;
	border:3px solid #69A089!important;
}
.its-a-object-container{
	border:3px solid #69A089!important;
}
.its-type{
	color:#69A089!important;
}

[its-control="wut"],
[its-view="wut"]{
	float:right;
}
[its-control="wut"]{
	font-size:8px;
}
[its-view="wut"]{
	font-size:12px;
	margin-top:5px;
	margin-right:20px;
}
